:root {
  --primary-color: #049372;
}

#control-render {
  margin-top: 6rem;
}

.bg-main {
  background-color: var(--primary-color);
}

.btn-add-to-cart {
  color: white;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-details {
  margin-right: 20px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: none;
}

.btn-outline-main {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.control-shadow {
  box-shadow: 0 0 20px 0.35rem rgba(0, 0, 0, 0.07);
}

.page-item .activeMy .page-link {
  background-color: var(--primary-color) !important;
}

.card-ubits {
  font-size: 15px;
  color: rgb(163, 163, 163);
}
