body {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  padding-top: 0.5625rem;
}

#control-render {
  margin-top: 6rem;
}

.control-shadow {
  box-shadow: 0 0 20px 0.35rem rgba(0, 0, 0, 0.07);
}

.dropdown-toggle {
  box-shadow: 0 0 20px 0.35rem rgba(0, 0, 0, 0.07);
  font-weight: 500;
  padding: 0.625rem 1.5rem 0.5rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 1.5;
}

.badge-notification {
  position: absolute;
  font-size: 0.6rem;
  margin-top: -0.1rem;
  margin-left: -0.5rem;
  padding: 0.2em 0.45em;
}

.card-ubits {
  font-size: 15px;
  color: rgb(163, 163, 163);
}

.card-category {
  font-size: 18px;
  color: #1987549c;
}

.card {
  border: none;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}

.li-check {
  padding: 4px 5px;
}

.name-modal {
  font-weight: bold;
}

.form-check-input:checked {
  background-color: #198754;
  border-color: #198754;
}

.btn-outline-success:focus {
  box-shadow: none;
}

input[type='search']:focus,
.dropdown-toggle:focus,
.btn-close:focus,
.form-control:focus,
.page-link:focus {
  box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.5);
  color: #198754;
}

input.error {
  border: 2px solid #e74c3c;
}

input.success {
  border: 2px solid #198754;
}

.error-mes {
  color: #e74c3c;
  visibility: hidden;
}

.error-mes.active {
  visibility: visible;
}

.cart-btn {
  border: none;
  background-color: transparent;
}

.cart-btn:focus {
  outline: none;
}

.modal-cart-container {
  max-width: 75vw;
}

.cart-icon {
  font-size: 22px;
}

.badge-notification {
  font-size: 12px;
}

.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.cart-item img {
  width: 150px;
  height: auto;
}

.cart-item h4 {
  font-size: 1.3rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.cart-item h5 {
  margin: 0.5rem 0;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.remove-item {
  color: grey;
  cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
  color: #198754;
  cursor: pointer;
  font-size: 20px;
}

.item-amount {
  margin-bottom: 3px;
  text-align: center;
  font-size: 20px;
}

.cart-footer,
.cart-empty {
  margin-top: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.page-link {
  position: relative;
  display: block;
  color: #198754;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.page-link:hover {
  color: #198754;
}
